$main-colors: (
  "primary": #181a1c,
  "secondary": #3261f7
);

$basic-colors: (
  "light": #ffffff,
  "grey": #f0f0f0,
  "dark": #1b1d1f
);

$font-colors: (
  "primary": #303133,
  "secondary": #006cff
);

$font-basic-colors: (
  "light": #ffffff,
  "light-grey": #e2e2e2,
  "grey": #777,
  "dark": #0e0f10
);